<!DOCTYPE html> 
<html>


<body> 
<div class="container"> 
	<h1 class="header">National Representatives</h1> 
	
	<div class="question"> 
	<form action="/results" method="POST"> 
	  <h2>What state do you live in? Please give the abbreviated the name. For example, Maryland would be MD.<h2> 
		State: <input type="text" name="state"><br>
		<button type = “submit” class="new"> Save some trees! </button>
		
	</form> 
	</div>
</div>
</body>
</html>



<!--<head><title>Eco-Gen</title>-->
<!--<link "rel="stylesheet" type="text/css" href="style.css">-->
<!--</head>-->
<!--<body>-->
<!--  <header>eco-gen</header>-->
<!--  <a href="ecoresources">ecoresources</a>-->
<!--  <a href="ecobot">ecobot</a>-->
<!--  <a href="ecogov">ecogov</a>-->
<!--  <a href="about">about</a>-->

<!--<div class="container"> -->
<!--  <h1 class="header">Find Your Reps</h1> -->
<!--  <h4 class="caption">Stuff!</h4> -->
<!--  <div class="question"> -->
<!--  <form action="/results" method="post"> -->
<!--  <h2>What state do you live in? Please abbreviate, for example Maryland would be MD.</h2>-->
<!--    <input type="question"  >State<br>-->
    
<!--    <button type = "submit" class="new"></button> -->
<!--    </form> -->
<!--  </div>-->
    




  
  <!--<form>-->
  <!--    <form method="POST" action="/eco_gen"> -->
  <!--     <p>Your State: <input type="question" state="state"></p>-->
  <!--     <input type="submit">-->
  <!--    </form>-->

<!--</body>-->

<!--<footer>-->
<!--  <p>made with the help of kode with klossy</p>-->
<!--</footer>-->


<!--</html>-->
