<!DOCTYPE html>
<html>

<head>
  <title>eco-gen</title>
  <link rel="stylesheet " type="text/css " href="style.css">
 </head>
 <header>

  <center>                                            <b>eco-gen</b>
                                           
  <a href="ecobot " style="color:#2eb8b8; padding:40px ">ecobot</></a>
  <a href="ecogov " style="color:#2eb8b8; padding:40px ">ecogov</></a>
  <a href="about " style="color:#2eb8b8; padding:40px ">about</a>                             
  <a href="ecogov " style="color:#2eb8b8; padding:40px ";>ecoresources</></a>
                                             </center></header>
  
  <center><about><b>ecogov</b></about>
  <body> 
<div class="container"> 
	<h1 class="header">What do your representatives say?</h1> 
                     <p><body>"No challenge poses a greater threat to future generations than climate change" --Barack Obama, 2015</p>
                    <p><body>To take action against climate change, you have to believe in it. However, many politicians deny the existence of man-made climate change, even though 97% of scientists agree on its existence according to a 2017 NASA survey. What do your representatives believe about this crucical issue? </p>
	
	<div class="question"> 
	
	<form action="/results" method="POST"> 
	  <h2>What state do you live in? Give the abbreviation, for example, Maryland = MD.<h2> 
		State: <input type="text " name="state"><br>
		<button type = "submit" class="new"> Find My Reps! </button>
	</form> 
	</div>
</div>
</body></center>
                                                            </body>
                                                            <footer>
  <center>
  <p><i>made with the help of kode with klossy</i></p>
  </center>
</footer>
  
</html>