<!DOCTYPE html>

<html>
  <head> 
  <title>Senators</title>
  </head>
  <body>
    <p>Your state senators are <%=@senators%>. In parentheses next to each senator's name is either a "Y" or a "N", indicating whether or not your representative has publically said that he or she believes in man made climate change.</p>
  </body>
</html>